<h1>Listing emails</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Sender id,</th>
    <th>Subject,</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.id %></td>
    <td><%= email.sender_id, %></td>
    <td><%= email.subject, %></td>
    <td><%= email.content %></td>
    <td><%= link_to 'Show', email %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_email_path %>
